* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Normalize button
button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  overflow: visible;
  text-transform: none;
  &[type="button"],
  &[type="reset"],
  &[type="submit"] {
    -webkit-appearance: button;
  }
  border: none;
}

.divider {
  height: 1px;
  background: rgba(229, 231, 233, 1);
  margin: 20px 0;
}

.modal-overlay {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: #6464646b;
  z-index: 1;
  transition: opacity 0.1s ease-out;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    width: 992px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    width: 1200px;
  }
}
@media only screen and (min-width: 1536px) {
  .container {
    width: 1510px;
  }
}